{%- if include.type == 'post' -%}
<!-- Post Header -->
{%- if page.header_img -%}
<style type="text/css">
    header.intro-header {
        position:         relative;
        background-image: url('{{ site.baseurl }}{{ page.header_img }}');
    }
    header.intro-header .header-mask {
        width:      100%;
        height:     100%;
        position:   absolute;
        background: rgba(0, 0, 0, 0.3);
    }
</style>
{%- endif -%}
<header class="intro-header{% unless page.header_img %} style-text{% endunless %}">
    <div class="header-mask"></div>
    {%- if page.header_img_credit -%}
    <div class="header-img-credit">
        Image by <a href="//{{ page.header_img_credit_href }}">{{ page.header_img_credit }}</a>
    </div>
    {%- endif -%}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {%- for tag in page.tags -%}
                        <a class="tag" href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}" title="{{ tag }}">{{ tag }}</a>
                        {%- endfor -%}
                    </div>
                    <h1>{{ page.title }}</h1>
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.owner }}{% endif %} on {{ page.date | date: '%B %-d, %Y' }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{%- elsif include.type == 'page' -%}
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}{% if page.header_img %}{{ page.header_img }}{% else %}{{ site.header_img }}{% endif %}')">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading"{% if include.short %} id="tag-heading"{% endif %}>
                <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                <span class="subheading">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</span>
            </div>
        </div>
        </div>
    </div>
</header>
{%- endif -%}
