---
layout: page
title: "About"
description: "你是我的梦想"
header-img: "/assets/img/about-bg.jpg"
multilingual: true
---

{%- include language-selector.html -%}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include_relative about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include_relative about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>
