---
layout: default
---

{%- include header.html type='keynote' -%}

<!-- Post Content -->
<style>
    /* Place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position:    absolute;
            left:        -0.75em;
            font-size:   1.1em;
            margin-top : 0.1em;
        }
    }
</style>
<article>
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
                {{ content }}
                {%- include pager.html -%}
            </div>

            <!-- Sidebar Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 sidebar-container">
                {%- include featured-tags.html -%}
            </div>
        </div>
    </div>
</article>

<!-- Resize header to fullscreen keynotes -->
<script>
    var $header = document.getElementsByTagName("header")[0];
    function resize() {
        /*
         * leave 85px to both
         * - told/imply users that there has more content below
         * - let user can scroll in mobile device, seeing the keynote-view is unscrollable
         */
        $header.style.height = (window.innerHeight-85) + 'px';
    }
    document.addEventListener('DOMContentLoaded', function() {
        resize();
    })
    window.addEventListener('load', function() {
        resize();
    })
    window.addEventListener('resize', function() {
        resize();
    })
    resize();
</script>

<!-- Anchor -->
<script src="{{ site.baseurl }}/assets/js/anchor.js"></script>
